go 1.23.0

use (
	battle-server-broadcast
	common
	launcher
	launcher-agent
	launcher-common
	launcher-config
	launcher-config-admin
	launcher-config-admin-agent
	server
	server-genCert
)

replace github.com/luskaner/ageLANServer/battle-server-broadcast v1.3.0 => ./battle-server-broadcast
