go 1.23.0

use (
    battle-server-broadcast
	launcher-agent
	launcher-config
	launcher-config-admin
	launcher-config-admin-agent
	common
	server-genCert
	launcher
	launcher-common
	server
)

replace github.com/luskaner/ageLANServer/common v0.0.0-20250131230124-e6fa21875cdb => ./common
replace github.com/luskaner/ageLANServer/launcher-common v0.0.0-20241225211103-3a8661980cd5 => ./launcher-common
replace github.com/luskaner/ageLANServer/battle-server-broadcast v1.3.0 => ./battle-server-broadcast