go 1.23.0

use (
    battle-server-broadcast
	launcher-agent
	launcher-config
	launcher-config-admin
	launcher-config-admin-agent
	common
	server-genCert
	launcher
	launcher-common
	server
)

replace github.com/luskaner/ageLANServer/common v0.0.0-20250412211822-13220daf2c6e => ./common
replace github.com/luskaner/ageLANServer/launcher-common v0.0.0-20250412213800-aa7c9ded629c => ./launcher-common
replace github.com/luskaner/ageLANServer/battle-server-broadcast v1.3.0 => ./battle-server-broadcast